<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.itbank.repository.SurveyDAO">


	
	
	<insert id="insert" parameterType="survey">
		insert into survey(sur_title, sur_image1, sur_content1, sur_image2 , sur_content2, sur_userid)"
			+ " values(#{sur_title}, #{sur_image1}, #{sur_content1}, #{sur_image2}, #{sur_content2}) , #{sur_userid})"
		
	</insert>
	
</mapper>









